body {
display: flex;
 justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 10em 10em 10em;
}

.grid-content {

  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  font-style: bold;

}


.grid-content:nth-child(1),
.grid-content:nth-child(9) {
background-color: darkmagenta;
grid-column: 1/ span 3;
}

.grid-content:nth-child(2) {
background-color: cyan;
grid-row: 2 / span 2;

}

.grid-content:nth-child(5) {
  background-color: deepskyblue;
    grid-column: 2 / span 2;
}

.grid-content:nth-child(7) {
  background-color: darkorange;
  grid-column: 1 / span 2;
}

.grid-content:nth-child(3),
.grid-content:nth-child(4),
.grid-content:nth-child(8) {
  background-color: #e2e2e2;
}
