body{
  display: flex;
  justify-content: center;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;

}

.grid-item {
  border: 1px solid black;
}

.grid-item:hover {
  background-color: red;
}
