body {
  background-color: lightgray;
}
h1, h2 {
  border-style:dashed;
  border-width: 1px;
  color: brown;
}

.mainimage {
  border-style: solid;
  border-width: 3px;
}

.mainlink {
  color: #FF3300;
}
